.todoForm {
	margin: 100px 0px 10px 0px;
}

.todoForm__input {
	padding: 10px;
	border: 2px solid #FFF;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	word-wrap: break-word;
}

.todoForm__select{
  padding: 9px;
  outline: none;
  border: 1px solid #FFF;
  font-size: 11px;
}

.todoForm__btn {
	padding: 10px;
	background-color: #0066ff;
	color: #fff;
	border: 2px solid #0066ff;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.todoForm__btn:hover {
	background-color: #003399;
	border: 2px solid #003399;
}
